{% extends '_layouts/base.html.twig' %}

{% block content %}
    {% embed "_layouts/fragments/_wide-col.html.twig" %}
        
        {% block content %}
        <div class="card">
            <div class="card-header">Edit post</div>

            <div class="card-body">
                {{ include('blog/_form.html.twig', {form: form, actionLabel: 'Edit post'}) }}
            </div>
        </div>
        {% endblock %}

    {% endembed %}
{% endblock %}